.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    background-color: #277957;
    padding: 15px;
    border-radius: 15px;
    margin-top: 50px;
    color: #f8a038;
}
.description{
    margin-top: 40px;
    line-height: 2;
    font-size: larger;
    height: 250px;
    background-image: url(./img/pizza1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    border-radius: 10px;
}
.description>p{
    padding: 15px;
}
.menu{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px;
    margin-top: 40px;
}
.menu-pic{
    height: 150px;
    width: 150px;
}